.carousel-container {
  margin: 20px 0;

  max-width: 1600rem;

  box-sizing: border-box;
  @include desktop {
    width: 100%;
  }

  @include tablet {
    width: 100vw;
  }
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25rem;
  grid-row-gap: 25rem;
  margin-top: 81rem;
  text-align: left;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 30rem;
  }
}

.item {
  border: 0.7px solid rgba(112, 112, 112, 0.2);
  border-radius: 10rem;
  padding: 16rem 22rem 20rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition);

  @include tablet {
    padding: 8rem 11rem 10rem 10rem;
  }
  &-img {
    max-width: 134rem;
    height: auto;
    align-self: center;

    @include tablet {
      max-width: 100rem;
    }
  }

  &-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18rem;
    margin-bottom: 10rem;
  }

  &-desc {
    font-weight: 400;
    font-size: 12rem;
    color: var(--secondary-color);
    margin-bottom: 29rem;
  }

  &-price {
    font-weight: 600;
    font-size: 16rem;
    line-height: 131%;
  }

  &-rating {
    margin-top: 10rem;
    margin-bottom: 5rem;
    color: var(--yellow-third);
  }

  &-group {
    display: flex;
    align-items: center;
    gap: 9rem;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 124rem;
  }
}

.item:hover {
  border: 1px solid var(--yellow-third);
  box-shadow: 0 30px 30px 13px rgba(198, 198, 198, 0.25);
  background: var(--white);
}

.custom-arrows-container {
  margin-top: 89rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include tablet {
    margin-top: 60rem;
  }
}

.carousel-arrow {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
}

.carousel-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.custom-pagination {
  display: flex;
  align-items: center;

  @include tablet {
    display: none;
  }
}

.pagination-bullet {
  width: 20px;
  height: 20px;
  border: 1rem solid var(--light-grey);
  margin: 0 10rem;
  padding: 20rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16rem;

  @include tablet {
    display: none;
  }
}

.pagination-bullet.selected {
  background-color: var(--yellow-third);
  border: 1rem solid var(--yellow-third);
  color: var(--white);
}
