.about {
  &__container {
    padding-top: 60rem;
    padding-bottom: 58rem;
    align-items: center;
    justify-content: space-between;
    gap: 166rem;

    @include desktop-small {
      gap: 40rem;
    }

    @include tablet {
      padding-bottom: 29rem;
      padding-top: 30rem;
    }

    @include mobile {
      padding-bottom: 20rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    flex-shrink: 1;

    @include desktop {
      max-width: 45%;
      height: auto;
    }

    @include tablet {
      display: none;
    }
  }

  &__tag {
    font-weight: 600;
    font-size: 14rem;
    line-height: 86%;
    padding: 10rem 18rem;
    margin-bottom: 13rem;

    @include mobile {
      font-size: 12rem;
      padding: 7rem 15rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36rem;
    color: var(--third-color);
    margin-bottom: 35rem;

    @include tablet {
      font-size: 34rem;
      margin-bottom: 25rem;
    }

    @include tablet {
      font-size: 26rem;
      margin-bottom: 15rem;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16rem;
    line-height: 187%;
    color: var(--secondary-color);
    margin-bottom: 40rem;

    @include tablet {
      font-size: 14rem;
      margin-bottom: 15rem;
    }
    @include mobile {
      font-size: 12rem;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 16rem;
    line-height: 75%;
    color: var(--white);

    background: var(--yellow-main);
    padding: 16rem 19rem;
    border-radius: 6rem;

    @include tablet {
      font-size: 14rem;
      padding: 10rem 13rem;
    }

    @include mobile {
      font-size: 12rem;
    }
  }
}
