.discount {
  &__container {
    padding-top: 58rem;
    padding-bottom: 156rem;
    align-items: center;
    justify-content: space-between;
    gap: 94rem;

    @include tablet {
      gap: 40rem;
      flex-direction: column-reverse;
      padding-top: 29rem;
      padding-bottom: 120rem;
    }

  
  }

  &__group {
    display: flex;
    gap: 23rem;
    align-items: center;
    margin-top: 50rem;

    @include tablet {
      margin-top: 30rem;
    }

    @include mobile {
      margin-top: 20rem;
      flex-direction: column;
      gap: 10rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    flex-shrink: 1;

    @include desktop-small {
      max-width: 50%;
      height: auto;
    }
  }
}
