.header {
  &__container {
    padding-top: 29rem;
    padding-bottom: 29rem;
    align-items: center;
    justify-content: space-between;
  }
  &__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(120%);
    display: none;
    transition: var(--transition);
    opacity: 0;

    @include tablet {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 90rem;
    z-index: 10;
    font-weight: 700;
    font-size: 20rem;
    transition: var(--transition);

    @include desktop-small {
      gap: 40rem;
    }

    @include tablet {
      z-index: 20;
      position: fixed;
      width: 100%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
      gap: 40rem;
      background: var(--primary-color-transparent);
    }

    &._active {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem;
      color: var(--white);
    }
  }

  &__a {
    transition: var(--transition);
    font-family: var(--second-family);
    position: relative;

    @include tablet {
      color: var(--white);
    }
  }

  &__a:hover {
    color: var(--yellow-main);
  }

  &__a:hover::before,
  &__a.is-active::before {
    transform: scale(1);
  }

  &__a::before {
    content: "";
    display: block;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: -7rem;
    transform: scale(0);
    transition: var(--transition);
    background: var(--yellow-main);
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
  }
}

.is-active {
  color: var(--yellow-main);
}
