.service {
  &__container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
    padding-bottom: 67rem;
    padding-top: 98rem;

    @include tablet {
      padding-top: 30rem;
      padding-bottom: 30rem;
    }

    @include mobile {
      padding-top: 20rem;
      padding-bottom: 20rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20rem;
    line-height: 160%;
    margin-bottom: 20rem;
    margin-top: 39rem;

    @include tablet {
      margin-top: 25rem;
      margin-bottom: 10rem;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 14rem;
    line-height: 193%;
    text-align: center;
    color: var(--secondary-color);
    max-width: 324rem;

    @include mobile {
      font-size: 12rem;
    }
  }
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 86rem;
  gap: 40rem;

  @include tablet {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20rem;
    grid-row-gap: 20rem;
    margin-top: 50rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-row-gap: 20rem;
    margin-top: 30rem;
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.step-middle {
  transform: translateY(40px);

  @include tablet {
    transform: none;
  }
}

.icon-wrapper {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dotted-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  position: absolute;
}

.down-icon {
  left: calc(33% - 100rem);
  top: 23%;
  @include tablet {
    display: none;
  }
}

.up-icon {
  right: calc(33% - 100rem);
  top: 25%;
  @include tablet {
    display: none;
  }
}
