html {
  scroll-behavior: smooth;
  font-size: 1px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 16rem;
  font-family: var(--font-family);
  color: var(--primary-color);
  background: var(--bg);
}

.container {
  max-width: 1440rem;
  margin-inline: auto;
  padding: 0 135rem;
  display: flex;

  @include desktop {
    padding: 0 75rem;
  }

  @include tablet {
    padding: 0 40rem;
  }

  @include mobile {
    padding: 0 35rem;
  }
}

#root {
  height: 100%;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  color: var(--white);
  background: var(--yellow-second);
  transition: var(--transition);
}

.btn:hover {
  transform: translateY(-10rem);
}

.tag {
  color: var(--yellow-third);
  background: var(--tag-bg);
  display: inline-block;
  border-radius: 7rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--primary-color);
}

.logo {
  font-weight: 700;
  font-size: 32rem;
  color: var(--primary-color);

  @include tablet {
    font-size: 26rem;
  }

  @include mobile {
    font-size: 24rem;
  }

  span {
    color: var(--yellow-main);
  }
}
#dark-logo {
  color: var(--white);
}
.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36rem;

  @include tablet {
    font-size: 30rem;
  }

  @include mobile {
    font-size: 26rem;
  }
}

.desc {
  font-weight: 400;
  font-size: 14rem;
  line-height: 193%;
  color: var(--secondary-color);
  margin-top: 16rem;
  max-width: 500rem;

  @include mobile {
    font-size: 12rem;
    max-width: 400rem;
    margin-top: 10rem;
  }
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
