:root {
  // font
  --font-family: "Inter", sans-serif;
  --second-family: "Segoe UI", Arial, sans-serif;
  // color
  --primary-color: #3c3c3c;
  --primary-color-transparent: #000000d6;
  --secondary-color: #667085;
  --third-color: #535353;
  --yellow-main: #fcc647;
  --yellow-second: #ffc12f;
  --yellow-third: #f4b41b;
  --tag-bg: #fff2d4;
  --white: #fff;
  --bg: #fffbf3;
  --black: #000;
  --dark-blue: #232233;
  --light-grey: #eaeced;

  //other
  --transition: 0.2s all ease-in-out;
}
